body{font-family: 'roboto';
    margin: 5px;
    padding: 5px;
    background-color: rgb(134, 210, 210);
    font-size: large;}
    a{text-decoration: none;}
    .navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 3px;
    border-radius: 6px;
    }
    .navbar ul li a {
        color: aliceblue;
        padding: 6px;
        margin: 5px;
    }
    .navbar ul{
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    .navbar ul li a:hover{
        color: rgb(134, 128, 126);
    }